﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="ChessHub">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chesshub Play online chess</title>
</head>
<body>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/spa")
    <ng-view>

    </ng-view>
    <nav>
        <a href="#/start">start</a>
        <a href="#/end">end</a>
    </nav>
</body>
</html>
